################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SecondarySales/.vs/SecondarySales/FileContentIndex/dc21b2c6-69de-40fe-b181-cff7e60567e4.vsidx
